*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 80px 200px 2fr 1fr 80px;
    grid-template-areas: "navbar navbar"
                         "header header"
                         "main   main"
                         "aside  aside"
                         "footer footer";
}

.navbar{
    grid-area: navbar;
    background-color: aqua;
}
.header{
    grid-area: header;
    background-color: blue;
}
.main{
    grid-area: main;

}
.main{
    padding: 10px;
}
.aside{
    grid-area: aside;
}
.aside p{
    padding: 10px;

}
.footer{
    grid-area: footer;
    background-color: cornflowerblue;
}
@media(min-width:760px){
    .container{
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: 80px 200px  1fr 80px;
        grid-template-areas: "navbar navbar navbar navbar"
                             "header header header header"
                             "main   main   main   aside"
                             "footer footer footer footer";
    }
}

